<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>question-save</title>
    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
<form action="/question/save" method="post" enctype="multipart/form-data">
    질문 : <textarea name="questionContent" cols="30" rows="10"></textarea> <br>
    질문할 날짜 : <input type="date" name="questionAskTime"> <br>
    <input type="submit" value="질문 작성">
</form>
</body>
<script>

</script>
</html>