<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>member-join</title>
    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

</head>
<body>
<form action="/member/join" method="post">
    닉네임 : <input type="text" name="memberNickname"><br>
    비밀번호 : <input type="password" name="memberPassword"><br>
    이름: <input type="text" name="memberName"><br>
    <input type="submit" value="회원가입">
</form>
</body>
</html>